:root {
  --wght: 300;
  --slnt: 0;
  --mono: 0;
  --casl: 0;
}

*:not(.word-art>span){
  font-variation-settings: "wght" var(--wght),
                           "slnt" var(--slnt),
                           "MONO" var(--mono),
                           "CASL" var(--casl);
}

body{
  font-family: 'Recursive', monospace;
  margin: 0;
}

#root {
}

nav {
  display: flex;
  padding: 1em;
  width: 100%;
}
main.App{
  flex: 1;
  margin: 0 5vmin
}

a#logo {
  margin-bottom: auto;
}

button{
  font-family: 'Recursive', monospace;
}

/* shitty temp form styling */
label:before {
  content: "";
  display: block;
  margin: 0.75em;
}

label{
  padding: 0.5em;
}
